:root {
  --azul-principal: #1643b3;
  --azul-secundario: #032c54;
  --azul-neon: #0d90ad;
  --azul-escuro: #0a0f2c;
  --vermelho: #a4070c;
  --cinza-bg: #f1f3f5;
  --branco: #ffffff;
  --cinza-texto: #6c757d;
}

/* RESET */
body {
  background: linear-gradient(180deg, #eef2f7, var(--cinza-bg));
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

/* NAVBAR */
.navbar-custom {
  background: linear-gradient(90deg, var(--vermelho), #7d0206);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(219, 207, 207);
}

/* HERO */
.hero {
  background: linear-gradient(90deg, #172d74, #040a2d);
  color: rgba(232, 227, 227, 0.913);
  padding: 60px 20px;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* CARDS */
.card-custom {
  border: none;
  border-radius: 18px;
  background: var(--branco);
  box-shadow: 
    0 10px 25px rgba(0,0,0,0.08),
    0 2px 5px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, var(--azul-secundario), var(--azul-neon));
  
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

/* BOTÕES */
.btn-primary-custom {
  background: linear-gradient(45deg, var(--azul-secundario), var(--azul-neon));
  border: none;
  color: var(--branco);
  font-weight: 600;
  border-radius: 12px;
  padding: 10px;
}



/* DARK MODE */
.dark-mode {
  background: #01011c;
  color: #d7dbdf;
}

.dark-mode .card-custom {
  background: #7a7e82;
}

/*  ACESSIBILIDADE NÍVEIS  */
.font-small { font-size: 14px; }
.font-normal { font-size: 16px; }
.font-big { font-size: 18px; }
.font-bigger { font-size: 20px; }
.font-large { font-size: 22px; }
.font-xlarge { font-size: 24px; }

/*  FOOTER  */
.footer-custom {
  background: linear-gradient(90deg, #040a2d, #0a0f2c);
  color: #d7dbdf;
  padding: 10px 0;
  margin-top: 60px;
  border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-title {
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-link {
  display: block;
  color: #9aa4b2;
  text-decoration: none;
  margin-bottom: 5px;
  transition: 0.2s;
}

.footer-link:hover {
  color: var(--azul-neon);
}

.footer-icon {
  font-size: 18px;
  margin-right: 8px;
}

/* DARK MODE */
.dark-mode .footer-custom {
  background: #01011c;
  color: #c9d1d9;
}

/* TRANSIÇÕES */
* {
  transition: background 0.3s, color 0.3s;
}
