:root {
  --azul-principal: #1643b3;
  --azul-secundario: #032c54;
  --azul-neon: #0d90ad;
  --azul-escuro: #0a0f2c;
  --vermelho: #a4070c;
  --cinza-bg: #f1f3f5;
  --branco: #ffffff;
  --cinza-texto: #6c757d;
}

/* RESET */
body {
  background: linear-gradient(180deg, #eef2f7, var(--cinza-bg));
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

/* NAVBAR */
.navbar-custom {
  background: linear-gradient(90deg, var(--vermelho), #7d0206);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(219, 207, 207);
}

/* HERO */
.hero {
  background: linear-gradient(rgba(62, 53, 98, 0.85), rgba(0, 15, 29, 0.95)),
              url("https://t3.ftcdn.net/jpg/07/44/71/38/360_F_744713831_buGgwrmM9nslbSLZyIAZMdhf2cfpuGYH.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 20px;
}

/* CARDS */
.card-custom {
  border: none;
  border-radius: 18px;
  background: var(--branco);
  box-shadow: 
    0 10px 25px rgba(0,0,0,0.08),
    0 2px 5px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, var(--azul-secundario), var(--azul-neon));
  
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

/* BOTÕES */
.btn-primary-custom {
  background: linear-gradient(45deg, var(--azul-secundario), var(--azul-neon));
  border: none;
  color: var(--branco);
  font-weight: 600;
  border-radius: 12px;
  padding: 10px;
}

/* BOTÃO VOLTAR */
.btn-voltar {
  background: linear-gradient(45deg, #032c54, #0d90ad);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.btn-voltar:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  background: linear-gradient(45deg, #0d90ad, #032c54);
}

.btn-voltar i {
  font-size: 18px;
}

/* DARK MODE */
.dark-mode {
  background: #000027;
  color: #d7dbdf;
}

.dark-mode .card-custom {
  background: #babec2;
}

/*  ACESSIBILIDADE NÍVEIS  */
.font-small { font-size: 14px; }
.font-normal { font-size: 16px; }
.font-big { font-size: 18px; }
.font-bigger { font-size: 20px; }
.font-large { font-size: 22px; }
.font-xlarge { font-size: 24px; }

/*  FOOTER  */
.footer-custom {
  position: relative;
  background: linear-gradient(rgb(0, 0, 34), rgba(56, 56, 68, 0.95)),
              url("https://t3.ftcdn.net/jpg/15/40/23/26/360_F_1540232697_sMxDxNIJOr1LRCi3d7ndhNZa5BbV7ZEh.jpg");
  background-size: cover;
  background-position: center;
  color: #cfd6e1;
  border-top: 1px solid rgba(5, 1, 58, 0.217);
  overflow: hidden;
}

.footer-custom .container {
  position: relative;
  z-index: 1;
}

/* TÍTULOS */
.footer-title {
  font-weight: 700;
  margin-bottom: 12px;
  color: #ffffff;
}

/* TEXTO */
.footer-text {
  font-size: 14px;
  line-height: 1.6;
  color: #9aa4b2;
}

/* LISTA */
.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-list a {
  text-decoration: none;
  color: #9aa4b2;
  transition: 0.3s;
}

.footer-list a:hover {
  color: #0d90ad;
  padding-left: 5px;
}

/* CONTATO */
.footer-info {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-info i {
  margin-right: 8px;
  color: #0d90ad;
}

/* REDES SOCIAIS */
.footer-social {
  margin-top: 10px;
}

.footer-social i {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-social i:hover {
  color: #0d90ad;
  transform: scale(1.2);
}

/* DIVISOR */
.footer-divider {
  border-color: rgba(255,255,255,0.1);
}

/* COPYRIGHT */
.footer-copy {
  font-size: 13px;
  color: #8b949e;
}



/* TRANSIÇÕES */
* {
  transition: background 0.3s, color 0.3s;
}
