:root {
  --azul-principal: #1643b3;
  --azul-secundario: #032c54;
  --azul-neon: #0d90ad;
  --vermelho: #a4070c;
  --cinza-bg: #d2d7de;
  --branco: #ffffff;
  --cinza-texto: #6c757d;
}

/* RESET */
body {
  background: linear-gradient(180deg, #eef2f7, var(--cinza-bg));
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

/* NAVBAR */
.navbar-custom {
  background: linear-gradient(90deg, var(--vermelho), #7d0206);
}

.navbar-brand {
  font-weight: 700;
  color: rgb(235, 226, 226);
}

/* HERO */
.hero {
  background: linear-gradient(90deg, #172d74, #040a2d);
  color: rgb(235, 226, 226);
  padding: 60px 20px;
}

/* CARDS */
.card-custom {
  border-radius: 18px;
  background: var(--branco);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  position: relative;
}

.card-custom::before {
  content: "";
  position: absolute;
  top: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, var(--azul-secundario), var(--azul-neon));
}

/* BOTÃO */
.btn-primary-custom {
  background: linear-gradient(45deg, var(--azul-secundario), var(--azul-neon));
  color: white;
  border-radius: 12px;
}

/* DARK MODE */
.dark-mode {
  background: #010a17;
  color: #e6edf3;
}

.dark-mode .card-custom {
  background: #161b22;
}

/*  FONTE (6 níveis) */
.font-small { font-size: 14px; }
.font-normal { font-size: 16px; }
.font-big { font-size: 18px; }
.font-bigger { font-size: 20px; }
.font-large { font-size: 22px; }
.font-xlarge { font-size: 24px; }

/*  ÍCONES  */
i.bi {
  color: var(--azul-secundario) !important;
}

.dark-mode i.bi {
  color: #79c0ff !important;
}

.list-group-item:hover i.bi {
  color: var(--azul-neon) !important;
}
